# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Django #
*.log
*.pot
*.pyc
__pycache__
**/migrations/**
!**/migrations
!**/migrations/__init__.py