name: CI for dev

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_DB: google_wave
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: Meow
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r api/requirements.txt
      - name: Run tests
        env:
          DATABASE_URL: postgres://postgres:Meow@localhost:5432/google_wave
        run: |
          cd api
          python manage.py test
  frontend-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: "18.x"
      - name: Install dependencies
        run: |
          cd app  
          npm install
      - name: Run tests
        run: |
          cd app
          npm run test-git
